*{
    padding: 0;
    margin: 0;
}
.h2-title{
    color: #606266;
    padding-bottom: 20px;
}

/* 图片上传 */
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.avatar-uploader .el-upload:hover {
    border-color: #409EFF;
}
.avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    min-width: 5rem;
    height: 5rem;
    line-height: 5rem;
    text-align: center;
}
.avatar {
    min-width: 5rem;
    height: 5rem;
    display: block;
}
.avatar-h{
    max-width: 10rem;
    height: auto;
    display: block;
}
.skill-box{
    padding: 20px 10px;
}
.skill-box .el-form-item{
    padding: 5px 0;
}
.save-btn{
    margin-top:1rem;
    text-align:right;
}
.page-box{
    padding: 20px;
    display: flex;
    justify-content: center;
}